@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
}
.noScroll::-webkit-scrollbar {
  display: none;
}

.modal::-webkit-scrollbar {
  width: 4px;
}

.typeOne::-webkit-scrollbar {
  width: 4px;
}
.typeOne::-webkit-scrollbar-track {
  background: transparent;
}

.typeOne::-webkit-scrollbar-thumb {
  background: #9f7d35;
}

.typeMuff4::-webkit-scrollbar {
  width: 4px;
}
.typeMuff4::-webkit-scrollbar-track {
  background: transparent;
}

.typeMuff4::-webkit-scrollbar-thumb {
  background: #b2b0b2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer utilities {
  .object-bottom-right {
    object-position: right bottom;
  }
}
